@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Josefin+Sans&display=swap');

:root {
    --title-font: 'Arvo', serif;
    --red: #EF3E36;
    --green: #3EFF8B;
    font-family: 'Josefin Sans', sans-serif;
    color: #212529;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #DEE2E6;
    min-height: 100vh;
}

h1, h2 {
    font-family: var(--title-font);
}

h1 {
    font-size: 48px;
}

header {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px;
    background-color: #212529;
    color: #F8F9FA;
}

header h2 {
    font-size: 24px;
}

header svg {
    fill: #F8F9FA;
    height: 3rem;
}

footer {
    background-color: #212529;
    padding: 8px;

    color: #F8F9FA;
    text-align: center;

    margin-top: auto;
}

footer a {
    color: #CED4DA;
    text-decoration: none;
}

footer a:hover {
    color: #F8F9FA;
    text-decoration: underline;
}

main {
    padding: 16px;
}

hr {
    margin-bottom: 16px;
    border: 0;
    border-top: 2px solid #212529;
}

.card-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
    margin: 0 auto;
}

.card {
    box-sizing: border-box;
    position: relative;

    border: 5px solid #212529;
    border-radius: 16px;
    background-color: #F8F9FA;
    padding: 24px 16px 16px 16px;
    width: 300px;
    height: 250px;

    font-size: 20px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.status {
    position: absolute;
    height: 100%;
    width: 8px;
    background-color: var(--red);
    left: 0;
    top: 0;
    border-radius: 16px 0 0 16px;
}

.status.read {
    background-color: var(--green) ;
}

.card svg {
    position: absolute;
    right: 4px;
    top: 4px;
    height: 24px;
    fill: #212529;
    border-radius: 100%;
}

.card svg:hover {
    background-color: #2125291f;
}

.card svg:active {
    background-color: #21252942;
}

.card .title {
    font-size: 22px;
    font-family: var(--title-font);
}

.card .author {
    font-style: italic;
    margin-bottom: auto;
}

.card button {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    padding: 8px;
    color: #F8F9FA;

    border: #212529 1px solid;
    border-radius: 8px;

    background-color: var(--red);
    filter: brightness(95%);
}

.card button.read {
    background-color: var(--green);
    color: #212529;
}

.card button:hover {
    filter: brightness(100%);
}

.card button:active {
    filter: brightness(90%);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header button {
    display: flex;
    align-items: center;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;

    padding: 8px;
    border: 2px #212529 solid;
    border-radius: 8px;
    background-color: #E9ECEF;
    filter: brightness(95%);
}

.section-header button:hover {
    filter: brightness(100%);
}

.section-header button:active {
    filter: brightness(90%);
}
